body{
    background-color: #999999;
    margin: 0;
  }
/* Estilos para la página de Eventos */
/* Asegúrate de que este archivo esté en la misma ubicación que eventos.html */

/* Estilos para el encabezado */
header.encabezado {
    background-color: #330000; /* Rojo oscuro más suave para el encabezado */
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    position: relative; /* Agregamos posicionamiento relativo para el efecto de paralaje */
    z-index: 1; /* Aseguramos que el encabezado esté por encima del contenido */
  }
  
  header.encabezado h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-family: "Times New Roman", serif; /* Fuente más elegante */
  }
  
  /* Estilos para el título de la página de Eventos */
  header.encabezado h2 {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: "Arial", sans-serif; /* Fuente más limpia para el subtítulo */
  }
  
  /* Estilos para el contenedor de la página de Eventos */
  main.eventos {
    max-width: 1000px;
    margin: 4rem auto; /* Añadimos un margen superior e inferior para separar el contenido del encabezado y el pie de página */
    padding: 2rem;
  }
  
  /* Estilos para la lista de próximos eventos */
  section.lista-eventos, section.eventos-pasados {
    margin-bottom: 2rem;
  }
  
  section.lista-eventos h3, section.eventos-pasados h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #0055AA; /* Azul oscuro más suave para los títulos de sección */
    font-family: "Georgia", serif; /* Fuente más elegante para los títulos */
  }
  
  section.lista-eventos ul, section.eventos-pasados ul {
    list-style: none;
    padding: 0;
  }
  
  section.lista-eventos li, section.eventos-pasados li {
    margin-bottom: 1.5rem;
  }
  
  section.lista-eventos h4, section.eventos-pasados h4 {
    font-size: 1.4rem;
    color: #333; /* Color de texto más oscuro */
    font-family: "Arial", sans-serif; /* Fuente limpia para los títulos de evento */
  }
  
  section.lista-eventos p, section.eventos-pasados p {
    font-size: 1.2rem;
    color: #555; /* Texto más suave */
    line-height: 1.6;
  }
  
  /* Estilos para el pie de página */
  footer.pie-pagina {
    background-color: #330000; /* Rojo oscuro más suave para el pie de página */
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: relative; /* Agregamos posicionamiento relativo para el efecto de paralaje */
    z-index: 1; /* Aseguramos que el pie de página esté por encima del contenido */
  }
  