/* Estilos para la página de Galería */
/* Estilos para el encabezado */
header.encabezado {
    background-color: #0055AA;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  body{
    background-color: #999999;
    margin: 0;
  }
  header.encabezado h1 {
    margin-bottom: 0.5rem;
  }
  
  /* Estilos para el título de la galería */
  header.encabezado h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  /* Estilos para el contenedor de la galería */
  main.galeria {
    max-width: 1000px;
    margin: 4rem auto; /* Añadimos un margen superior e inferior para separar el contenido del encabezado y el pie de página */
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribuir imágenes en columnas responsivas */
    gap: 1rem;
  }
  
  /* Estilos para cada imagen en la galería */
  .imagen-galeria {
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f2f2f2;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .imagen-galeria img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .imagen-galeria p {
    margin-top: 1rem;
    color: #333;
    font-size: 1.1rem;
    font-style: italic;
  }
  
  /* Estilos para resaltar las imágenes al pasar el cursor */
  .imagen-galeria:hover {
    transform: translateY(-5px); /* Mover la imagen hacia arriba al pasar el cursor */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el cursor */
    background-color: #fff; /* Cambiar el fondo al pasar el cursor */
  }
  
  /* Estilos para el pie de página */
  footer.pie-pagina {
    background-color: #0055AA;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
  }
  