
  body{
    background-color: #999999;
    margin: 0;
  }
  /* Estilos para la página de Menú */
/* Asegúrate de que este archivo esté en la misma ubicación que menu.html */

/* Estilos para el encabezado */
header.encabezado {
    background-color: #0077DD; /* Azulino para el encabezado */
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  header.encabezado h1 {
    margin-bottom: 0.5rem;
  }
  
  /* Estilos para el título del menú */
  header.encabezado h2 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  
  /* Estilos para el contenedor del menú */
  main.menu {
    max-width: 1000px;
    margin: 4rem auto; /* Añadimos un margen superior e inferior para separar el contenido del encabezado y el pie de página */
    padding: 2rem;
  }
  
  /* Estilos para la lista de platillos */
  ul.menu-lista {
    list-style: none;
    padding: 0;
  }
  
  ul.menu-lista li {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex; /* Alineamos horizontalmente el contenido del li */
    align-items: center; /* Centramos verticalmente el contenido del li */
  }
  
  ul.menu-lista .contenido-platillo {
    flex: 1; /* Hace que el contenido ocupe todo el espacio restante */
  }
  
  ul.menu-lista h3 {
    margin-bottom: 0.5rem;
    color: #0077DD; /* Azulino para el título del platillo */
  }
  
  ul.menu-lista p {
    margin-bottom: 0.5rem;
  }
  
  ul.menu-lista .precio {
    font-weight: bold;
    color: #333;
  }
  
  ul.menu-lista img {
    max-width: 100px; /* Tamaño máximo para la imagen */
    margin-left: 1rem; /* Margen a la izquierda para separar la imagen del texto */
  }
  
  /* Estilos para el pie de página */
  footer.pie-pagina {
    background-color: #0077DD; /* Azulino para el pie de página */
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  